h1 {
  text-align: center;
  font-weight: 400;
  text-decoration: red underline wavy;
  letter-spacing: 15px;
  font-size: 80px;
  /* font-family: Big Caslon, Futura, Bodoni MT, sans-serif; */
  font-family: monospace;
}

a {
  text-decoration: pink none;
  color: blue;
}

p {
  line-height: 2;
}
