/* * {
  background-color: cyan;
} */

body {
  background-color: #e8e8e4;
}
button {
  font-size: 30px;
  background-color: #f1faee;
}

h1,
h2 {
  color: #264653;
}

button:hover {
  background-color: maroon;
  color: #f0efeb;
}

#signup:hover {
  background-color: maroon;
  color: #f0efeb;
}

#login:hover {
  background-color: maroon;
  color: #f0efeb;
}

#signup {
  background-color: #264653;
  color: #f1faee;
}

#login {
  background-color: olivedrab;
  color: white;
}

span {
  color: #457b9d;
}

.tag {
  background-color: #e63946;
  color: #f0efeb;
  font-size: 16px;
}

.post a {
  color: rgb(46, 44, 63);
  text-decoration: none;
  font-weight: 700;
}

footer a {
  color: #e63946;
}

h2 + button {
  font-size: 20px;
}

footer > a {
  color: #264653;
}

input:hover[type="password"] {
  color: #e63946;
}

a[href*="google"] {
  color: magenta;
}

.post a:hover {
  text-decoration: underline;
  text-decoration-color: darkorange;
}

.post button:active {
  background-color: hsl(37, 100%, 72%);
}

.post:nth-of-type(2n) {
  background-color: #d8fcd0;
}

h2::selection {
  background-color: sandybrown;
}

p::first-line {
  color: purple;
}

p::selection {
  background-color: #ffba08;
}

.post ::selection {
  background-color: sandybrown;
}

.post button:hover {
  background-color: maroon;
  color: #f0efeb;
  border-color: #ffba08;
}
