section {
  width: 500px;
  height: 500px;
  background-color: magenta;
}

#rgba {
  width: 50%;
  height: 50%;
  background-color: #ffffff6e;
}

#opacity {
  width: 50%;
  height: 50%;
  background-color: #ecdd09;
  opacity: 0.3;
}
